<div fxFlex fxLayout="column">
  <div class="result">
    辨識結果 : {{result_name}}
  </div>
  <div fxFlex fxLayout="column" fxLayoutGap="gap" fxLayout.gt-lg="row">
    <div fxLayout="column" fxLayoutGap="gap" fxFlex="col(2)" fxLayout.gt-sm="row">
      <div fxFlex="auto" fxLayout="column" fxFlex.gt-sm="col(4)">
        <div class="title" fxFlexAlign="center" fxLayout="row">
          拖拉要辨識的圖片
        </div>
        <div>
          <div>
            <div fxFlex fxLayout="column">
              <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[doneList]" fxLayout="row"
                *ngFor="let group of rowGroups">
                <div *ngFor="let item of items; index as i;">
                  <ng-container *ngIf="i<=6 && group==1">
                    <img [cdkDragData]=item.image [src]=item.image width="110px" height="83px" cdkDrag
                      cdkDragBoundary=".dropzone" />
                  </ng-container>
                  <ng-container *ngIf=" i>6 && i <14 && group==2">
                    <img [cdkDragData]=item.image [src]=item.image width="110px" height="83px" cdkDrag
                      cdkDragBoundary=".dropzone" />
                  </ng-container>
                  <ng-container *ngIf=" i>13 && i <21 && group==3">
                    <img [cdkDragData]=item.image [src]=item.image width="110px" height="83px" cdkDrag
                      cdkDragBoundary=".dropzone" />
                  </ng-container>
                  <ng-container *ngIf=" i>20 && i <28 && group==4">
                    <img [cdkDragData]=item.image [src]=item.image width="110px" height="83px" cdkDrag
                      cdkDragBoundary=".dropzone" />
                  </ng-container>
                  <ng-container *ngIf=" i>27 && i <35 && group==5">
                    <img [cdkDragData]=item.image [src]=item.image width="110px" height="83px" cdkDrag
                      cdkDragBoundary=".dropzone" />
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxFlex="auto" fxFlex.gt-sm="col(4)">
        <div class="title" fxFlexAlign="center">
          上傳辨識區
        </div>
        <!--droped image preview-->
        <div *ngFor="let file of files">
          <img *ngIf="file" [src]="file.url" width="100px" height="100px">
          <button type="button" (click)="upload(file.url)">辨識圖片</button>
        </div>
        <div class="col-12 rmpm dropzone" cdkDropList #doneList="cdkDropList" (cdkDropListDropped)="drop($event)"
          appDragDrop (files)="filesDropped($event)">
          <div class="text-wrapper">
            <div class="centered">Drop your file here!</div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
