<div fxFlex="50%" fxLayout="column">
  <h3 class="qwe">{{isLogin}}</h3>
  <button mat-button color="primary">Primary</button>
  <img id="bg" class="videourl">
  <div fxFlex fxLayout="row">
    <mat-form-field appearance="fill">
      <mat-label>使用者名稱</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="registered()">註冊</button>
  </div>
  <button mat-raised-button color="accent" (click)="recog()">登入</button>

</div>

<div fxLayout=50%>
  <mat-list class="list mat-elevation-z1">
    <h3 mat-subheader>上線中</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let chat of chats" matRipple>
      <img mat-list-avatar [src]="chat.picture">
      <h3 class="name" matLine>{{chat.name}}</h3>
      <p class="message secondary-text" matLine>{{chat.lastMessage}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <h3 mat-subheader>離線中</h3>
    <mat-list-item *ngFor="let chat of offlinechats" matRipple>
      <img mat-list-avatar [src]="chat.picture">
      <h3 class="name" matLine>{{chat.name}}</h3>
      <p class="message secondary-text" matLine>{{chat.lastMessage}}</p>
    </mat-list-item>
  </mat-list>
</div>
