<div fxFlex="30%" fxLayout="column">
  <h3 class="qwe">{{isLogin}}</h3>
  <img id="bg" class="videourl">
  <div fxLayout="row">
    <mat-form-field fxFlex="70%" appearance="fill">
      <mat-label>使用者名稱</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <button fxFlex="30%"  mat-flat-button color="primary" (click)="registered()">註冊</button>
  </div>
  <button mat-raised-button color="accent" (click)="recog()">登入</button>

</div>

<div class="chat-container" fxLayout="row" fxFlex=70%>
  <div fxFlex=30%>
    <mat-list class="list mat-elevation-z1">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h4 class="h4" mat-subheader>上線中</h4>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item  class="list-online" *ngFor="let chat of chats" matRipple>
        <img mat-list-avatar [src]="chat.picture">
        <h3 class="name" matLine>{{chat.name}}</h3>
        <p class=" secondary-text" matLine>{{chat.lastMessage}}</p>
      </mat-list-item>
      <mat-divider></mat-divider>

      <h4 class="h4" mat-subheader>離線中</h4>
      <mat-list-item (click)="setActiveChat(chat)" class="list-off" *ngFor="let chat of offlinechats" matRipple>
        <img mat-list-avatar [src]="chat.picture">
        <h3 class="name" matLine>{{chat.name}}</h3>
        <p class=" secondary-text" matLine>{{chat.lastMessage}}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex=70%>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="activate-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <img class="avatar" [src]="activeChat.picture">
        <div fxLayout="column">
          <span class="name">{{ activeChat.name }}</span>
          <span class="status secondary-text">{{activeChat.islogin}}</span>
        </div>
      </div>
      <div class="actions" fxLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button>
          <mat-icon>attach_file</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="chatMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="message">
      <div class="chat-message" *ngFor="let message of offlinechats[0].messages" [ngSwitch]="message.who"
        fxLayout="column" fxLayoutAlign="end start">
        <div class="partner" *ngSwitchCase="'partner'" fxFlexAlign="start" fxLayout="row" fxLayoutAlign="start start">
          <img class="avatar" [src]="activeChat.picture">
          <span class="card">{{ message.message }}</span>
        </div>
        <div class="me" *ngSwitchCase="'me'" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end start">
          <span class="background-primary color-primary-contrast">{{ message.message }}</span>
          <img class="avatar" [src]="activeChat.picture">
        </div>
      </div>
    </div>

    <div class="input" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <mat-form-field class="reply-field" appearance="fill" fxFlex>
        <mat-label>Aa</mat-label>
        <input matInput (keyup.enter)="send()" [formControl]="replyCtrl">
        <button (click)="send()" matSuffix mat-icon-button color="primary" [disabled]="!replyCtrl.value">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>


  <!-- <div class="current-contact" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <button type="button" mat-icon-button (click)="drawer.open()" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>

          <img class="avatar" [src]="activeChat.picture">

          <div fxLayout="column">
            <span class="name">{{ activeChat.name }}</span>
            <span class="status secondary-text">Online</span>
          </div>

        </div> -->



</div>

<mat-menu #userMenu="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-menu #chatMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Contact Info</span>
  </button>
  <button mat-menu-item>
    <mat-icon>volume_mute</mat-icon>
    <span>Mute Chat</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item >
    <mat-icon>clear_all</mat-icon>
    <span>Clear Messages</span>
  </button>
</mat-menu>
